astrapy==0.1.0
beautifulsoup4==4.9.3
certifi==2021.5.30
charset-normalizer==2.0.4
favicon==0.7.0
filelock==3.0.12
Flask==2.0.1
Flask-WTF==0.15.1
future==0.18.2
geomet==0.2.1.post1
gunicorn==20.1.0
idna==3.2
itsdangerous==2.0.1
Jinja2==3.0.1
joblib==1.0.1
lxml==4.6.3
MarkupSafe==2.0.1
numpy==1.19.5
pandas==1.1.5
python-dateutil==2.8.2
python-dotenv==0.19.0
python-whois==0.7.3
pytz==2021.1
requests==2.26.0
requests-file==1.5.1
scikit-learn==0.22.2
scipy==1.5.4
six==1.16.0
soupsieve==2.2.1
threadpoolctl==2.2.0
tldextract==3.1.1
urllib3==1.26.6
Werkzeug==2.0.1
wincertstore==0.2
WTForms==2.3.3
